/* Prevent page scrollbars globally */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* remove page scrolling */
}

/* Hide native scrollbars (extra) */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* If you need a scrollable region, add the `scrollable` class */
.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
